.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: rgba(31, 36, 45, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 700;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 3rem;
  transition: 0.3s;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--main-color);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 9%;
  gap: 2rem;
}

.home-content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.text-animate {
  color: var(--main-color);
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 2rem 1rem 2rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 0.8rem 2.2rem;
  background: var(--main-color);
  border-radius: 4rem;
  color: var(--bg-color);
  font-weight: 600;
  box-shadow: 0 0 1rem var(--main-color);
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}
